@{
    ViewBag.Title = "EnterNewPassword";
    Layout = "~/Views/Shared/View1.cshtml";
}

<h2>Enter New Password</h2>
Password: <input type="password" , id="txtPassword">
<br/>
<input type="submit" id="btnOk" value="Ok" >
