@{
    ViewBag.Title = "EnterNewPassword";
    Layout = "~/Views/Shared/View1.cshtml";
}
@section scripts
{
    <script>
       
        $(function () {
            
            $("#btnOk").click(function () {
                
                 
                var login = '@Html.Raw(@ViewData["login"])';
                console.log(login);
                var password = $("#txtPassword").val();
              
                var u = new Object();
                u.Password = password;
                u.Login = login;
                var s = Validate();
                
                var settings = {
                    type: "POST",
                    dataType: "json",
                    url: "/api/Values/updatePassword",
                   
                    data: JSON.stringify(u),
                    contentType: false,
                    processData: false,
                    tradition: true,
                    contentType: "application/json; charset=utf-8",
                    succuss: function (response) {
                    },
                    error: function () {
                        alert("Severe error");
                    },

                    complete: function (response, textStatus) {
                        var x = JSON.parse(response.responseText);
                        if (x.res > 0) {
                            alert("Succussfully updated password");
                        }
                        else
                            alert("Error");
                        console.log(response.res);
                    }
                }
                

                if (s=="succuss") {
                    
                    $.ajax(settings);
                }
                else
                    alert(s);
                    return false;
             
                });
            });

        function Validate()
        {
            
            var password = $("#txtPassword").val();
            if (  password == "") {
              return "Empty fields";
            }
            if (!validatePassword(password))
                return "Password should be atleast 5 characters long";
            return "succuss";
        }
    </script>
}

<h1 id="heading">Enter new password</h1>
Password: <input type="password" , id="txtPassword">
<br/>
<input type="submit" id="btnOk" value="Ok" >
