@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/View1.cshtml";
}

<div class="f">
<h2 align="center">Forgot Password</h2>
Email: <input type="email" , id="txtLogin" , class="search">
<br/>

<input type="submit" id="btnOk" value="Ok" , class="btn">
<br/>
    </div>
<div id="div1">Sending code....Please wait</div>
@section scripts
{
    <script>
       
        $(function () {
            $("#div1").hide();
            $("#btnOk").click(function () {
               
                var loginTxt = $("#txtLogin").val();
                
               
                var u = new Object();
                u.Login = loginTxt;
              
                var s = Validate();
                
                var settings = {
                    type: "POST",
                    dataType: "json",
                    url: "/api/Values/generateCode",
                   
                    data: JSON.stringify(u),
                    contentType: false,
                    processData: false,
                    tradition: true,
                    contentType: "application/json; charset=utf-8",
                    succuss: function (response) {
                    },
                    error: function () {
                        alert("Severe error");
                    },

                    complete: function (response, textStatus) {
                        $("#div1").hide();
                        var x = JSON.parse(response.responseText);
                        if (x.res == 0) {
                            alert("Code sent");
                        }
                        else if(x.res== -1)
                            alert("Email does not exist");
                        else if(x.res == 1)
                            alert("Some error occured while sending code , Code not sent");
                        else
                            alert("Error");
                        console.log(response.res);
                    }
                }
                

                if (s=="succuss") {
                    $("#div1").show();
                    $.ajax(settings);
                }
                else
                    alert(s);
                    return false;
             
                });
            });

        function Validate()
        {
            var login = $("#txtLogin").val();
           
            if ( login== "" ) {
              return "Empty fields";
            }
            if (!ValidateEmail(login)) {
                return "invalid email";
            }
            return "succuss";
        }
    </script>
}